.form-input-wrapper {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  padding: 4px 4px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.chain-select {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.token-select {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-left: none;
}
.token-verify {
  position: absolute;
  left: 15px;
  bottom: 16px;
}
.option-item {
  display: flex;
}
.swap-view {
  width: 95%;
  margin: auto;
}

.swap-form {
  overflow: hidden;
}

.route-grid {
  margin: 0 auto;
  max-height: 70vh;
  width: 100%;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 400px));
  gap: 32px;
  column-gap: 20px;
}

.no-routes-found {
  background: white;
  padding: 24px 24px 32px 48px !important;
  width: 100%;
}

.no-routes-found h3 {
  margin-bottom: 20px;
}
