:root {
  --brand-blue: #3e389f;
  --brand-blue-80: #645fb2;
  --dirty-white-2: #f2f3f4;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: #103658;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Imported css for navigation buttons */
.new-button {
  display: flex;
  justify-content: center;
  cursor: pointer;
  transform: rotate(0deg);
}

.btn {
  cursor: pointer;
}

.link {
  width: 100%;
  background: var(--dirty-white-2);
  display: block;
  padding: 5px 15px;
  border: 3px solid var(--brand-blue);
  font-family: "Rubik", sans-serif;
  border-radius: 15px;
  color: var(--brand-blue);
  display: flex;
  line-height: 30px;
}

.new-button a:hover {
  box-shadow: 0 0 2px var(--brand-blue-80), 0 0 6px var(--brand-blue-80),
    0 0 9px var(--brand-blue-80), 0 0 15px #030b55;
  font-weight: bold;
}

.new-button a:active {
  top: 4px;
  padding-bottom: 0px;
  box-shadow: 0 1px 0 #000;
}

.new-button a {
  display: flex;
  width: 227px;
  height: 50px;
  font: normal 22px/25px "Patrick Hand", sans-serif;
  margin: 10px;
  background-color: var(--dirty-white-2);
  color: var(--dirty-white-2);
  text-decoration: none;
  padding-bottom: 3px;
  box-shadow: 0 2px 0 var(--brand-blue);
  border-radius: 17px;
  transition: padding 0.1s, box-shadow 0.1s, top 0.1s;
  background-image: url("./assets/btn-stripes.svg");
  background-position: bottom;
  background-repeat: round;
  background-position-y: bottom;
}

.selected {
  background: var(--brand-blue-80);
  color: var(--dirty-white-2);
  border: 4px solid var(--dirty-white-2);
  width: 100%;
  display: block;
  padding: 5px 15px;
  font-family: "Rubik", sans-serif;
  border-radius: 15px;
  display: flex;
  line-height: 30px;
}
