:root {
  --brand-blue: #3e389f;
  --brand-blue-80: #645fb2;
  --dirty-white-2: #f2f3f4;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: #103658;
}

html {
  font-size: 100%;
} /*16px*/
h1 {
  font-size: 2.074em;
}
h2 {
  font-size: 1.728em;
}
h3 {
  font-size: 1.44em;
}
h4 {
  font-size: 1.2em;
}
small {
  font-size: 0.833em;
}
/* .box {
  padding: 1.25em;
} */
@media screen and (min-width: 1400px) {
  html {
    font-size: 125%;
  } /*20px*/
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Imported css for navigation buttons */
.new-button {
  display: flex;
  justify-content: center;
  cursor: pointer;
  transform: rotate(0deg);
}

.btn {
  cursor: pointer;
}

.link {
  width: 100%;
  background: var(--dirty-white-2);
  display: block;
  padding: 5px 15px;
  border: 3px solid var(--brand-blue);
  font-family: "Rubik", sans-serif;
  border-radius: 15px;
  color: var(--brand-blue);
  display: flex;
  line-height: 30px;
}

.new-button a:hover {
  box-shadow: 0 0 2px var(--brand-blue-80), 0 0 6px var(--brand-blue-80),
    0 0 9px var(--brand-blue-80), 0 0 15px #030b55;
  font-weight: bold;
}

.new-button a:active {
  top: 4px;
  padding-bottom: 0px;
  box-shadow: 0 1px 0 #000;
}

.new-button a {
  display: flex;
  width: 227px;
  height: 50px;
  font: normal 22px/25px "Patrick Hand", sans-serif;
  margin: 10px;
  background-color: var(--dirty-white-2);
  color: var(--dirty-white-2);
  text-decoration: none;
  padding-bottom: 3px;
  padding-right: 3px;
  box-shadow: 0 2px 0 var(--brand-blue);
  border-radius: 17px;
  transition: padding 0.1s, box-shadow 0.1s, top 0.1s;
  background-image: url("./assets/btn-stripes.svg");
  background-position: bottom;
  background-repeat: round;
  background-position-y: bottom;
}

.selected {
  background: #fff5ce;
  color: var(--brand-blue-80);
  border: 4px solid var(--brand-blue-80);
  width: 100%;
  display: block;
  padding: 5px 15px;
  font-family: "Rubik", sans-serif;
  border-radius: 15px;
  display: flex;
  line-height: 30px;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  background-color: white;
  width: 80%;
  height: 80%;
  padding: 10px 20px 10px 20px;
  border: 1.5px solid var(--brand-blue-80);
  border-collapse: separate;
  border-radius: 41px;
  border-spacing: 0px;
  margin: 0 auto;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
  border-collapse: separate;
  font-size: 1.3em;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

th,
td {
  padding: 5px 4px 6px 4px;
  text-align: left;
  vertical-align: top;
  /* text-align: center; */
  color: var(--brand-blue-80);
  /* font-family: "Rubik", sans-serif; */
  font-family: "Gloria Hallelujah", sans-serif;
  /* border-left: 1.5px solid var(--brand-blue-80); */
}

td {
  font-size: 1.1em;
}

thead:first-child tr:first-child th:first-child,
tbody:first-child tr:first-child td:first-child {
  border-radius: 4px 0 0 0;
}
thead:last-child tr:last-child th:first-child,
tbody:last-child tr:last-child td:first-child {
  border-radius: 0 0 0 4px;
}

.tabControls {
  font-family: "Gloria Hallelujah", sans-serif;
  color: #3e389f;
  font-size: 2em;
}

#testing-button {
  user-select: none;
  font-family: "Roboto Slab", serif;
  padding: 12px 24px;
  font-size: 16px;
  line-height: 1.5;
  color: black;
  position: relative;
  width: 100%;
  max-width: 386px;
  text-align: center;
  cursor: pointer;
  z-index: 0;
  letter-spacing: 0.6px;
  transition: letter-spacing 0.4s ease;
  border: none;
  display: inline-block;
  border-radius: 17px;
  width: 227px;
  height: 50px;
  /* border: 3px solid var(--brand-blue-80); */
}
#testing-button:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  z-index: -1;
  border-radius: 17px;
  width: 227px;
  height: 50px;
  border: 3px solid var(--brand-blue-80);
}

#testing-button:after {
  pointer-events: none;
  content: "";
  background: white;
  background-image: url("./assets/btn-stripes.svg");
  background-position: bottom;
  background-repeat: round;
  background-position-y: bottom;
  /* background-size: 7px; */
  display: block;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  transform: translate(6px, 6px);
  width: 100%;
  z-index: -2;
  border-radius: 17px;
  width: 227px;
  height: 50px;
  border: 3px solid var(--brand-blue-80);
}
