@import "~antd/dist/antd.dark.css";
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected::after {
  border-bottom: 2px solid #21bf96 !important;
}

@font-face {
  font-family: "Night";
  src: local("Night"), url(./fonts/Retrolight.otf) format("opentype");
}
.ant-menu-horizontal > .ant-menu-item-selected a,
.ant-menu-horizontal > .ant-menu-item a:hover {
  color: #21bf96 !important;
}

.fade {
  animation: fadein 1s linear forwards;
  opacity: 1;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.ant-modal-content {
  overflow: auto;
  border-radius: 1rem;
}

.logotext {
  animation: flicker 1.5s 5 alternate ease-out;
  font-size: 4em;
  /* margin: 15px; */
  font-family: Night;
  color: #21bf96;

  text-shadow: 0 0 4px #21bf96, 0 0 11px #21bf96, 0 0 19px #21bf96,
    0 0 40px #2131bf;

  /* transition: text-shadow 100ms linear; */
  /* border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding: 0.1em;
  box-shadow: 0 0 0.2rem #21bf96, 0 0 0.2rem #21bf96, 0 0 2rem #21bf96,
    0 0 0.8rem #21bf96, 0 0 2.8rem #2131bf, inset 0 0 1.3rem #2131bf; */
}

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #21bf96, 0 0 11px #21bf96, 0 0 19px #21bf96,
      0 0 40px #2131bf, 0 0 80px #2131bf, 0 0 90px #2131bf, 0 0 100px #2131bf,
      0 0 150px #2131bf;
  }
  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

#internal {
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(0, 112, 135, 1) 0%,
    rgba(1, 64, 93, 1) 0%,
    rgba(2, 0, 36, 1) 49%
  );
  border-top-left-radius: 2em;
  overflow: auto;
}

.ant-table {
  background: rgba(14, 13, 13, 0.35);
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 0.5em;
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
}

.floater {
  background: rgba(14, 13, 13, 0.35);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  position: relative;
  transition: box-shadow 300ms linear;
}

.floater:hover,
.floater:focus,
#floater-dex:hover,
#floater-dex:focus {
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.floater::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: rgb(1, 64, 93);
  top: 70%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(12em) rotateX(40deg) scale(1, 0.25);
  filter: blur(5em);
  opacity: 0.5;
  transition: opacity 300ms linear;
}

.floater:hover::before,
.floater:focus::before,
#floater-dex:hover::before,
#floater-dex:focus::before {
  opacity: 0.9;
}

#floater-dex {
  background: rgba(14, 13, 13, 0.35);
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 1em;
  position: relative;
  transition: box-shadow 300ms linear;
}

#floater-dex::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: rgb(1, 64, 93);
  top: 75%;
  left: 0%;
  width: 100%;
  height: 100%;

  transform: perspective(12em) rotateX(40deg) scale(1, 0.3);
  filter: blur(5em);
  opacity: 0.5;
  transition: opacity 300ms linear;
}

.glass-card {
  background: rgba(14, 13, 13, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.8);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 2em;
}

html,
body {
  overflow: hidden;
  scroll-behavior: smooth;
}
